:root{
    --cor-de-fundo:#ffffff;

}
body{
    background-color: var(--cor-de-fondo);
 font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
img{
    width:10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1E8DA6;
    padding: 20px;
}
.titulo{
        font-size: 30px;
}

/*nosso site */

.pesquisar{
    width: 50%;
}


.introducao{
   display: flex;
   margin: 20px 0 0 0;
   padding: 20px 0 ;
   background-color:#00b7ff;
}
.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.lado{
    display: flex;
    align-items: center;
    padding: 20px;
}

.esp{
    padding: 20px;
}

.tam{
    width: 22%;
}
.foto{
    width: 40%;
}
.tam2{
    width: 100%;
}